name: getx_clean_architecture_boilerplate
description: "A boilerplate project using getx and following clean architecture"

version: 1.0.0+1

environment:
  sdk: ^3.7.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  get: ^4.6.6
  flutter_spinkit: ^5.2.1
  connectivity_plus: ^6.1.3
  dio: ^5.8.0+1
  toastification: ^3.0.3
  get_storage: ^2.1.1
  logger: ^2.6.1
  google_fonts: ^6.2.1
  package_info_plus: ^8.3.0
  url_launcher: ^6.3.2
  phosphor_flutter: ^2.1.0
  cached_network_image: ^3.4.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0
  flutter_launcher_icons: ^0.14.3

flutter_launcher_icons:
  android: "ic_launcher"
  ios: true
  image_path: "assets/icons/app_icon.png"

flutter:

  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
